.header{
    height: 80px;
    background: var(--secondary-color);
    padding: 2em;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5em;
}

.header a{
    color: var(--primary-color);
    text-decoration: none;
}

.favorites {
    border: 1px solid var(--primary-color);
    padding: .8em;
    border-radius: .3em;
}

.favorites:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
}