:root{
  --primary-color: #fff;
  --secondary-color: #000;
}

* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}